<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">
    <mdb-navbar-brand>WEATHERLICIOUS</mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect<mdb-icon fas icon="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect<mdb-icon fas icon="settings">Manage</a>
            </li>
        </ul>
    </links>
</mdb-navbar>