<mat-card class="card-container">
  <mat-card-title>{{location.city}}</mat-card-title>
  <mat-card-subtitle>{{location.locale}}</mat-card-subtitle>
  <div *ngIf="location.toggleCurrentCondition" class="current-condition">
    <mat-card-content>
      <p class="current-temp">{{location.temp}}&#176;</p>
      <p class="current-desc">{{location.weatherText}}</p>
    </mat-card-content>
  </div>
  <div *ngIf="location.toggleForecast" class="forecast">
    <mat-card-content class="forecast-container">
      <p class="forecast-title">Today's Forecast</p>
      <p class="forecast-desc">{{location.forecastDesc}}</p>
      <div class="row">
        <div class="col">
          <p>MIN</p>
          <p>{{location.minTemp}}&#176;</p>
        </div>
        <div class="col">
          <p>MAX</p>
          <p>{{location.maxTemp}}&#176;</p>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>
